<!DOCTYPE html>
<html>
    <head>
        <title>AdoPet</title>
        <!-- <link rel="stylesheet" href="{{ url_for('static',filename='educational_page.css') }}"> -->
        <link rel="stylesheet" href="../static/educational_page.css">
    </head>
    <body>
        <div class="header">
            <h1>AdoPet</h1>
        </div>
        <div class="main_page">
            <div class="animal_part">
                <div class="animal_title">
                    <h2>Dogs</h2>
                </div>
                <div class="animal_pages">
                    <div class="site_block">
                        <li><a href="https://love.doghero.com.br/racas-de-cachorro/" target="_blank">Guia para Raças de Cachorro</a></li>
                    </div>  
                    <div class="site_block">
                        <li><a href="https://www.patasdacasa.com.br/noticia/100-curiosidades-sobre-cachorros-que-vao-te-impressionar?utm_source=google_ads&utm_medium=trafego&utm_campaign=cachorros&gad_source=1&gclid=Cj0KCQjwtsy1BhD7ARIsAHOi4xZJezTzCDE6gXsnQKYXEtCj_h6T4Cm7nt9e3zvtVSBcNq33zsfzFA0aAlfaEALw_wcB" target="_blank">10 curiosidades sobre cachorros</a></li>
                    </div> 
                    <div class="site_block">
                        <li><a href="https://oglobo.globo.com/saude/noticia/2024/06/03/raiva-vermes-e-bacterias-veja-quais-sao-as-doencas-que-podem-ser-transmitidas-pela-saliva-dos-caes.ghtml" target="_blank">Doenças transmisíveis pela saliva canina</a></li>
                    </div>                 
                </div>
            </div>
            <div class="animal_part">
                <div class="animal_title">
                    <h2>Cats</h2>
                </div>
                <div class="animal_pages">
                    <div class="site_block">
                        <li><a href="https://www.anicura.pt/conselhos-de-saude/gato/conselhos-de-saude-para-gatos/60-curiosidades-sobre-gatos/#:~:text=Um%20gato%20consegue%20ouvir%20sons,devido%20ao%20reflexo%20de%20endireitamento." target="_blank">60 curiosidades sobre gatos</a></li>
                    </div>
                    <div class="site_block">
                        <li><a href="https://www.petz.com.br/blog/pets/gatos/amor-felino-como-saber-que-o-gato-gosta-de-voce/#:~:text=Um%20comportamento%20felino%20muito%20comum,estabelecem%20uma%20rela%C3%A7%C3%A3o%20de%20cumplicidade." target="_blank">Seu gato gosta de você?</a></li>
                    </div>
                    <div class="site_block">
                        <li><a href="https://hvbatel.com.br/artigo/porque-os-gatos-lambem-e-mordem#:~:text=Uma%20pergunta%20muito%20frequente%20%C3%A9,forma%20de%20cuidado%20com%20voc%C3%AA." target="_blank">Por que gatos lambem e mordem</a></li>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>