{% extends "layout_forms.html" %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static',filename='login_webpage.css')}}">
{% endblock css %}
{% block forms %}
    <div class="login">
        <form class="form_login" action="" method="POST">
            {{ forms.hidden_tag() }}
            <h1>Login</h1>
            <label for="email">E-mail</label>
            {% if forms.email.errors %}
                    {{ forms.email }}
                    <div class="invalid_feedback">
                        {% for error in forms.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ forms.email }}
                {% endif %}
            <label for="password">Senha</label>
            {% if forms.password.errors %}
                    {{ forms.password }}
                    <div class="invalid_feedback">
                        {% for error in forms.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ forms.password }}
                {% endif %}
            <div class="extra_links">
                <a href="{{url_for('render_main_register')}}">Criar conta</a>
                <a href="">Esqueci senha</a>
            </div>
            <div class="button">
                {{ forms.submit(class="submit_button")}}
            </div>
        </form>
    </div>
{% endblock forms %}
