body{
    margin: 0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: inline;
    column-count: 2;
    column-gap: 20px;
    background-color: #9fc;
}
section h1{
    position: relative;
    bottom: 10px;
    left: 50%;
    text-align: center;
    font-size: 30px;
    padding: 10px 10px;
}
section div{
    text-align: right;
    padding-right: 30px;
}
section button{
    position: relative;
    top: 15px;
    padding: 10px 15px;
    border: 3px solid white;
    border-radius: 15px;
    background-color: white;
    font-size: 20px;
}
section div .login_button{
    margin-right: 20px;
}
.flash_sucess{
    position: relative;
    top: 100px;
    background-color: green;
}
.flash_fail{
    position: relative;
    top: 100px;
    background-color: red;
}
.div_horizontal_bar{
    position: absolute;
    width: 100%;
    top: 6em;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    padding: 20px 100px;
    
}
.div_horizontal_bar .ul_horizontal_bar{
    /* column-gap: 25%; */
    position: relative; /**/
    left: auto; /**/
    display: flex;
    flex-direction: row;
    column-gap: 20%;
}
.ul_horizontal_bar li{
    list-style-type: none;
    display: inline-block;
}
.ul_horizontal_bar a{
    text-decoration: none;
    color: black;
}

.ul_horizontal_bar li :hover{
    padding: 20px 20px;
    border-radius: 10px;
    background-color: #9fc;
}